*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #f8f8f8;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position:relative;
    padding-top: 0.1px;
}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h3{
    display: none ;
}

#nav h1{
    /* background-color: rgb(204,255,0); */
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'monument'; 
    position: relative; 
}

#nav h1::after{
     content: "©";
     font-family: gilroy;
     font-weight: 300;
     font-size: 13px;
     position: absolute;
     top:23%;
     right: 14%;
}


#nav h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 300;
    color: #666;
    font-size: 13px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom:1%;
    right: 13%;
}

#nav h2{
    /* background-color: rgb(204,255,0); */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #000;
    font-size: 20px;
    font-weight: 500;
    /* background-color: red; */
}

#nav h2:nth-last-child(2){
    width: 31%;
    /* background-color: red; */
}


#nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: red; */
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 3vw;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 2vw;
    color: #fff;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#over1 h1{
    font-family: 'monument';
    font-size: 3vw;
}

#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.4vw;
    /* background-color: blue; */
     border-radius: 50%;
     border: 1px solid #fff;
     
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}

#over2 h4{
    font-size: 1.2vw;
    font-weight: 400;
}

#over2 img{
    height: 4vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 90%;
    border-radius: 50%;
    width: 12%;
    margin: 2.3vw;
    object-fit: cover;
    object-position: 50% 20%;
}

@keyframes anime{
    from{
        transform:translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5{
font-size: 1vw;
text-transform: uppercase;
font-weight: 300;
font-style: italic;
letter-spacing: 3px;
border-bottom: 2px solid #000;
margin-right: 2vw;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 3px;
    /* background-color: yellow; */
    padding: 0.4vw 0.6vw;
    border-radius: 50%; 
    cursor: pointer;
    /* border: 2px solid #000; */
    transition:all ease 0.2s;
    }
     
#alphabet h6:hover{
    border:1px solid #000;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2vw 4vw;
}

#page2-part1{
    height: 100%;
    width: 60%;
    background-image: url(https://media.istockphoto.com/id/121707172/photo/studio-portrait-of-handsome-young-man-in-white-hat.jpg?s=1024x1024&w=is&k=20&c=ySxygaOyMNtHErE2Q90-pF5lQroItqDwTamztnEJizE=);
   background-size: cover;
   background-position: center;
   margin-right: 25px;
}


#page2-part2{
    height: 100%;
    width: 40%;
}

#page2-part2 img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}

#text{
    display: flex;
}

#text1{
    font-size: 15px;
}

#page3{
    height: 100%;
    width: 100%;
  display: flex;
}

#page3-part1{
    height: 100%;
    width: 40%;
    /* background-color: red; */
}

#page3-part1 h1{
    padding-left: 4vw;
    font-size: 35px;
    /* background-color:palegoldenrod; */
}

#pic{
    height: 70%;
    width: 100%;
    position: relative;
    /* background-color: blueviolet; */
}

#circulartext{
    height: 50%;
    width: 50%;
    position: relative;
    top: 40%;
    left: 25%;
}

#circulartext img{
    object-fit: cover;
}

#arrow{
     position: absolute;
     left: 38%;
     top: 58%;
}

#arrow img{
    /* position: absolute;  */
    height: 80px;
    width: 80px;
}

#page3-part1 h5{
    font-size: 15px;
    font-weight: 530;
    /* background-color: aquamarine; */
    padding-left: 30px;
    padding-top: 85px;
}

#page3-part2{
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
    margin-left: 20px;
}

#page3-part2 img{
height: 100%;
width: 100%;
object-fit: cover;
object-position: top;
padding-top: 70px;
padding-right: 50px;
}

#fullpic{
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

#fullpic img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position:top;
    padding-left: 30px;
    padding-right:30px;
}

#page4{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}

#page4>h1{
    text-align: center;
    font-family:monument;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 6vh;
}

.elem{
    height: 14vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #000;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;               /* animation ka chota bhai */
}

.elem img{
    height: 80px;
    width: 80px;
    position: absolute;               /* hwa me udane ke liye */
    border-radius: 50%;
    left: 12%;
   opacity: 0;                       /* image will not appear in the starting */
   object-position: top;
   object-fit: cover;
   transition: all ease 0.7s;                 /* animation ka chota bhai */
}

.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 400;
    width: 6%;
    /* background-color: red; */
}

.elem .elem-part2{
/* background-color: red; */
width: 45%;
}

.elem-part2 h1{
     font-size: 2vw;
     font-weight: 400;
}

.elem-part2 h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

.elem:nth-last-child(1){
    border-bottom: 1px solid #000;
}

.elem:nth-last-child(1) img{
    left: 40%;
}

.elem:nth-last-child(3) img{
    left: 40%;
}

.elem:hover img{
    opacity: 1;       /* image will appear after hover */
    left: 24%;
}

#page5{
    height: 100%;
    width: 100%;
    display: flex;
}

#page5-part1{
    height: 100%;
    width: 50%;
    padding-left: 35px;
}

#page5-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page5-part2{
    height: 100%;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

#movie-content{
    height: 40%;
    width: 100%;
}

#page5-part2 h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#page5-part2 h3{
    font-weight: 300;
    width: 40%;
    margin-bottom: 20px;
}

#page5-part2 p{
    font-size: 200;
    margin-bottom: 20px;
}

#manwoman{
    height: 60%;
    width: 100%;
    display: flex;
    /* background-color: yellow; */
}

#woman {
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
    margin-right: 15px;
}

#woman img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}

#man{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#man img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.single-img{
    height: 500px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 40px;
}

.single-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page6{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
}

#page6-part1{
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
    margin-right: 30px;
}

#page6-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding-left: 30px;
}

#page6-part2{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    padding-right: 30px;
}

#p6-p2-img{
    height: 60%;
    width: 100%;
    /* background-color: crimson; */
    
}

#p6-p2-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#p6-p2-text{
    height: 40%;
    width: 100%;
    /* background-color: green; */
    display: flex;
}

#p6-p2-text1{
    height: 100%;
    width: 50%;
    margin-right: 25px;
}

#p6-p2-text1 h4{
     font-size: 20px;
     width: 80%;
}

#p6-p2-text2{
    height: 100%;
    width: 50%;

}

#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    white-space:nowrap;                   /* text ko wrap nhi hone deta hai,usko ek ke bad ek aane deta hai */
    overflow-x: hidden;                    /* x-axis ka scroller romove karta hai */
    overflow-y: hidden;                    /* y-axis ka scroller remove karta hai */
    padding: 0.6vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marque h1{
    display: inline-block;                   /* ek line me text lane ke liye */
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-text-stroke: 2px black;           /*  letter ko border deta hai */
    color: transparent;                     /*  color transparent hoga */
    letter-spacing: 1.5px;
    font-family: monument;
    /* background-color: blue; */
    margin-right: 16px;                    /*16px hamne diya or 4px ka gap pahle se tha */
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;           /* linear karne ka bad bhi 20px ka jhatka deta hai */
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));    /* 16+4=20 20 px ka gap hai so */
    }
}

#page7{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
}

#blog{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    padding-left: 30px;
    padding-right: 20px;
}

#blog h1{
    text-transform: uppercase;
}

#page7-textimg1{
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    padding: 20px;
}

#page7-text1{
    height: 20%;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
}

#page7-text1 h4::before{
    content: "B";
    font-size: 10px;
    font-weight: 100;
    /* background-color: chocolate; */
    padding: 1px 2px;
    border-radius: 50%;
    border: 0.5px solid #000;
}

#page7-img1{
    height: 80%;
    width: 100%;
    /* background-color: blueviolet; */
}

#page7-img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page7-textimg2{
    height: 100%;
    width: 40%;
    /* background-color: green; */
    padding: 20px;
}

#page7-text2{
    height: 20%;
    width: 100%;
    /* background-color: antiquewhite; */
}


#page7-textimg2 h4::before{
    content: "B";
    font-size: 10px;
    font-weight: 100;
    /* background-color: chocolate; */
    padding: 1px 2px;
    border-radius: 50%;
    border: 0.5px solid #000;
}

#page7-img2{
    height: 80%;
    width: 100%;
    /* background-color: deeppink; */
}

#page7-img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page8{
    height: 45%;
    width: 100%;
}

#footer{
    height: 250px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top :90px ;
    /* padding-bottom: 30px; */
    /* background-color: red; */
    display: flex;
}

#footer-left{
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
    display: flex;
}

#footer-left-left{
    height: 100%;
    width: 70%;
    /* background-color: antiquewhite; */
    border-right: 1px solid #000;
    display: flex;
    position: relative;
}

#footer-premier{
    height: 30%;
    width: 50%;
    /* background-color: brown; */
    padding-left: 60px;
}

#footer-premier h1{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    
}


#footer-premier h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 300;
    font-size: 13px;
    position: absolute; 
    top: 21%;
    right: 18%;
    /* background-color: red; */
}

#footer-premier h1::before{
   content: "model management";
   font-family: gilroy;
   font-weight: 300;
   color: #666;
   font-size: 13px;
   letter-spacing: 0.1px;
   position: absolute;
   bottom:0.1%;
   right: 23%;
}

#footer-Models{
    /* background-color: chartreuse; */
    margin-left: 130px;
    padding-top: 30px;
}

#footer-Models h4{
    font-weight: 100;
    font-size: 20px;
}

#footer-left-right{
    height: 100%;
    width: 30%;
    /* background-color:aqua; */
    border-right: 1px solid #000;
}

#footer-left-right h4{
    padding-left: 70px;
    padding-top: 30px;
}

#footer-right{
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}

#footer-right-top{
    height: 30%;
    width: 100%;
    /* background-color: chartreuse; */
    border-bottom: 1px solid #000;
}

#footer-right-top h4{
    padding-left: 40px;
    padding-top: 30px;
}

#footer-right-bottom{
    height: 70%;
    width: 100%;
    /* background-color:crimson; */
}

#footer-icon{
    height: 30%;
    width: 100%;
    /* background-color: darkorange; */
    display: flex;
    padding: 40px;
}

#footer-icon img{
    height: 16px;
    width: 16px;
    margin-right: 20px;
}

#footer-right-bottom h6{
    padding-left: 40px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 600;
}


/* ye tabhi chalega tab hamari width 600px ya usase kam hai */
@media(max-width:600px){            
          
body{
    overflow-x: hidden;
}

#nav{
    height: 6vh;
   margin-top: 15px;
   padding: 0 3vw;
}

#nav h1{
    width: 40%;
    justify-content:flex-start;
    font-size: 20px;
}

#nav h3{
    display: block;
}

#nav h1::after{
     display: none;
}


#nav h1::before{
    display: none;
}

#nav h2{
    display: none;
}

#center{
    height: 40%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 2vw 3vw;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height:fit-contents;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 2vw;
    color: #fff;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#over1 h1{
    font-family: 'monument';
    font-size: 8vw;
    font-weight: 100;
}

#over1 h2{
    font-size: 3vw;
    padding: 2vw 2.4vw;
    /* background-color: blue; */
     border-radius: 50%;
     border: 1px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 0.5vw 0;
}

#over2 h4{
    font-size: 3vw;
    font-weight: 400;
}

#over2 img{
    height: 4vw;
}


#scroll{
    height: 16vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 90%;
    border-radius: 50%;
    width: 12%;
    margin: 2.3vw;
    object-fit: cover;
    object-position: 50% 20%;
}


}